/* Tabs */
@font-face{
	font-family: 'Yekan';
	src:url('fonts/Yekan.eot');
	src:local('☻'),
	url('fonts/Yekan.eot?#iefix') format('embedded-opentype'),
	url('fonts/Yekan.woff') format('woff'),
	url('fonts/Yekan.ttf') format('truetype'),
	url('fonts/Yekan.svg#Yekan') format('svg');
	font-weight:normal;
	font-style:normal
}

.iw-profile{
	box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.3);
	border: 1px solid rgb(204, 204, 204);
	background: #fff;
}
.iw-profile.rtl{
	font-family: 'Yekan';
}
* {
	font-family: inherit;
}
.tab-content-iw{
	margin: 20px;
	border: 1px solid rgb(204, 204, 204);
	border-radius: 0px;
	padding: 20px;
}
.accnt-hdr {
	overflow: hidden;
	background: #f8f8f8;
	border-bottom: 1px solid #ccc;
	border-radius: 0;
}
.accnt-hdr h2 {
	margin: 0 !important;
	float: left;
	margin: 0;
	background-color: #08353f;
	color: #fff;
	font-size: 18px;
	font-weight: 100;
	padding: 0 15px 0 0;
	line-height: 45px;
}
.rtl .accnt-hdr h2{
	float: right;
	padding: 0 0px 0 15px;
}
.accnt-hdr h2 span {
	display: block;
	float: left;
	background-color: rgba(0,0,0,0.09);
	background-image: url(../img/icn-4.png);
	width: 45px;
	height: 45px;
	margin-right: 15px;
	background-position: center center;
	background-repeat: no-repeat;
}
.rtl .accnt-hdr h2 span {
	float: right;
	margin-right: 0px;
	margin-left: 15px;
}
ul.iw_tabs {
	float: left;
	list-style: none !important;
	padding: 1px 0 0 !important;
	margin: 0 !important;
	overflow: hidden;
	zoom: 1;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16px;
	box-sizing: border-box;
}
.rtl ul.iw_tabs {
	float: right;
	font-family:'Yekan';
}
ul.iw_tabs li {

	margin-left: 1px;
	margin-right: 1px;
	height: 44px;
	margin-bottom: 0px;
	padding:0;
	float: left;
}
.rtl ul.iw_tabs li{
	float: right;
}
ul.iw_tabs li.active {
	background-color: #08353f;
}
ul.iw_tabs li a {
	box-shadow: none;
	height: 41px;
	display: block;
	background-color: #f8f8f8;
	border-bottom: 3px solid #f8f8f8;
	padding: 12px 14px 0 14px;
	box-sizing: border-box;
	color: #6C6C6C;
}

/* Messages */
form.iw_form ul.errors, form.iw_form ul.messages {
	margin: 0 !important;
	list-style: none !important;
}
form.iw_form ul.errors li, form.iw_form ul.messages li {
	border: 1px solid;
	margin: 0 0 8px 0;
	padding: 15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	font-size: 13px;
}
form.iw_form ul.messages li {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image:url('../img/success.png');
}
form.iw_form ul.errors li {
	color: #9d7b11;
	background-color: #ffe69c;
	background-image: url('../img/errors.png');
}


/* Form/Div Styling */
.avatar { margin: 0 0 5px 5px; }
form.iw_form, div.iw_logged_in {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	border-radius: 0;
	-webkit-box-shadow: 0;
	background: #fff;
}
.rtl form.iw_form, .rtl div.iw_logged_in {
	font-family: 'Yekan';
}
.mainpro .after-avatar{
	margin: 0 20px;
}
form.iw_form h2, div.iw_logged_in h2, form.iw_form h3, div.iw_logged_in h3 {
	margin-top: 0;
}
form.iw_form p {
	margin: 0 0 0.5em;
	padding: 0;
	font-size: 13px;
	line-height: 21px;
	font-weight: normal;
	clear: both;
}
form.iw_form p a {
	font-weight: normal;
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: -0.05em;
	color: #3590bd;
}
form.iw_form p a.forgotten {
	margin-top: 5px;
	float: right;
	padding: 4px 0 0 0;
	text-transform: none;
	font-size: 14px;
	color: #0176AB;
	letter-spacing: .3px;
}
div.iw_logged_in .avatar {
	padding: 2px;
	border: 1px solid #ddd;
	float: right;
}
form.iw_form label {
	display: block;
	color: #777;
}
form.iw_form label.hidden {
	visibility: hidden;
}
form.iw_form input.text {
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	background: #fff url(../img/input.png) repeat-x top left;
	color: #777;
	font-size: 14px;
	padding: 5px 2% 3px;
	width: 96%;
	margin: 0;
	outline: 0;

	-khtml-border-radius: 3px;
	-o-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
form.iw_form input.text:focus {
	background: #f3f3f3;
}
form.iw_form p.column {
	float: left;
	width: 49%;
	margin-right: 2%;
	clear: none;
}
form.iw_form p.column-alt {
	margin-right: 0;
	float: right;
}
form.iw_form p.column input {
	padding: 6px 3% 5px;
	width: 94%;
}
.iw_logged_in ul.links {
	margin: 0;
	padding: 0;
	list-style: none outside;
	overflow: hidden;
	zoom: 1;
}
.iw_logged_in ul.links li {
	float: left;
	margin: 0px 4px 4px 0;
}
#adduser #updateuser,.iw_logged_in ul.links li a {
	margin: 10px;
	border-top: 1px solid #08353f;
	background: #08353f;

	padding: 5px 7px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: #fff;
	font-size: 12px;

	text-decoration: none;
	vertical-align: middle;
	float: left;
	-khtml-border-radius: 2px;
	-o-border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
#adduser #updateuser
{
	float:none;
}
.iw_logged_in ul.links li a:hover {
	border-top-color: #28597a;
	background: #28597a;
	color: #ccc;
}
/* Links 2 */
.iw_logged_in ul.linkss {
	margin: 5px 0 0 0;
	padding: 0;
	overflow: hidden;
	zoom: 1;
	list-style: square inside none;
}
.iw_logged_in ul.linkss li {
	margin: 0px 4px 4px 0;
}
.iw_logged_in ul.linkss li a {
	list-style-type: square;
	color:#0176AB;
}
.iw_logged_in ul.linkss li a:hover {
	color:black;
}
.iw_logged_in .count {
	color: #0176AB;
	padding: 1px 2px;
	margin: 0 2px;
	font-size: 16px;
	font-weight: bold;
	font-family: Georgia, Times, Serif;
}
.iw_logged_in hr {
	border: 0;
	margin: 0 0 10px;
	padding: 0;
	margin-top: 5px;
}

/* Buttons */
form.iw_form input.button, .iw_logged_in .woocommerce input.button,
.iw_logged_in .woocommerce table.my_account_orders .order-actions .button {
	background-color:#08353f;
	-moz-border-radius:1px;
	-webkit-border-radius:1px;
	border-radius:1px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:13px;
	font-weight:bold;
	padding:6px 16px;
	text-decoration:none;

	border: none;
	margin-top: 3px;
}

.iw_logged_in .mainpro{
	overflow: hidden;
}
.iw_logged_in .mainpro img, .iw_logged_in .mainpro .after-avatar{
	float:left;
}
.rtl .iw_logged_in .mainpro img,.rtl .iw_logged_in .mainpro .after-avatar {
	float: right;
}
form.iw_form input.button:hover {
	background-color:#144550;
}

form.iw_form input.button:active  {
	position:relative;
	top:1px;
}
@media (max-width:728px){
	form.iw_form p.column {
		float: none;
		width: 100%;
		margin-right: 0;
		clear: none;
	}
}